header {
    margin-top: 100px;
    background: rgba(0, 0, 0, 0.5);
    border-top: solid #fff 2px;
    display: flex;
    justify-content: center;
    height: 180px;
    font-family: Courier New, Courier, monospace;
}

header > .row > .col-12 {
    justify-content: center;
    position: relative; 
    top: -70px;
    color: #fff;
    text-align: center;
}

header > .row > .col-12 > img {
    margin: 0 auto 15px;
    width: 150px;
	border-right: solid #fff 3px;
	border-left: solid #fff 3px;
	box-shadow: 10px 12px 80px 6px #000;
	border-radius: 12px;
}

header > .row > .col-12 > h3 {margin-bottom: 1px;}