@font-face {font-family: sftg; src: url(sftg.ttf)}
@font-face {font-family: ck; src: url(ck.ttf)}

.projectDisplay {
    overflow: hidden;
    background: #fff;
    border: solid #ccc 1px;
    text-align: center; 
    font-size: 13px;
    box-shadow: 1px 1px 1px rgb(190, 190, 190)
}

.projectDisplay > .col-sm-5 {
    overflow: hidden;
    background: #000; 
    border: solid #fff 2px;  
    position: relative;
    height: 250px;  
    display: flex;
    align-items: center;
    justify-content: center
}
.projectDisplay > .col-sm-5:hover > span {filter: blur(0)}
.projectDisplay > .col-sm-5 > span {transition: opacity 300ms; z-index: 1; filter: blur(5px)}
.projectDisplay > .col-sm-5:hover > img {opacity: 0; z-index: 0;}
.projectDisplay > .col-sm-5 > img {  
    position: absolute;
    top: 10px;
    transition: opacity 1000ms;
    z-index: 1;
    width: 350px
}
.projectDisplay > .col-sm-5 > .curve > .links {
    position: absolute;
    left: -39px;
    width: auto;
    transform: rotate(90deg);
    z-index: 3
}
.projectDisplay > .col-sm-5 > .curve {
    background:#fff;
    border-radius: 100%;
    position: absolute;
    right: -125px;
    height: 350px;
    width: 150px;
    box-shadow: -1px 1px 20px #000; 
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.far {padding: 0; color: rgb(126, 126, 126); font-size: 18px}
.fa-circle{color: #ccc; cursor: pointer}

.projectDisplay > .col-sm-7 {padding:10px;  height: 250px; display: flex; align-items: center; justify-content: center}
.projectDisplay > .col-sm-7 > .row > .col-12 {padding-bottom: 15px; transition: opacity 300ms}
.projectDisplay > .col-sm-7 > .row > .col-12 > h3 {text-align: center; color: rgb(92, 92, 92)}
.projectDisplay > .col-sm-7 > .row > .col-12 > h5 {text-align: center; font-size: 13px}
.projectDisplay > .col-sm-7 > .row > .col-12 > p  {font-size: 12px}
.projectDisplay > .col-sm-7 > .row > .col-12 > hr  {margin: 5px}
.projectDisplay > .col-sm-7 > .row > .col-12 > a:link {color: #000}
.projectDisplay > .col-sm-7 > .row > .col-12 > a:visited {color: #000}


@media (max-width: 575.98px) { 
    .projectDisplay > .col-sm-5 > .curve {right: auto; bottom: -115px; left: auto; height: 150px; width: 120%}
    .projectDisplay > .col-sm-5 > .curve > .links {top: 10px;left: auto; transform: rotate(0deg)}
}

.sftg {font-family: sftg; font-size: 50px}
.codeKeeper {font-family: ck}

.links > button {border: none; background: #fff; outline: none}
.links > button.launch {border: none}